.yearStihList {
    padding-left: 10px;
    will-change: opacity;
}
.yearAuthor {
    padding-top: 50px;
    margin-bottom: 25px;
}

.yearStihTitle a {
    font-family: Arsenal;
    color: #000;
    text-decoration-style: dotted;
    font-size: 1.3em;
}


.year {
    padding-top: 30px;
    text-align: center;
    font-family: Cormorant;
    font-size: 4em;
}

.yearAuthor a {
    text-decoration: none;
    color: #000;
}

.anotherYears {
    color:#d9d9d9;
    text-decoration: none;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: Cormorant;
}
.anotherYears:hover {
    color:#8c8c8c;
    text-decoration: none;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.5em;
}