.authorStihList {
    padding-top: 30px;
    padding-left: 10px;
    will-change: opacity;
}

.authorStihItem {
    margin-bottom: 0px;
}

.stihCollapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.stihCollapsible.open {
    max-height: 5000px;
    opacity: 1;
    transition: max-height 0.8s ease-in, opacity 0.3s ease-in;
}

.authorStihTitle {
    overflow: visible;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.authorStihTitle h2 {
    font-size: 1em;
}

.authorStihTitle a {
    font-family: Arsenal;
    color: #000;
    text-decoration: none;
    border-bottom: 2px dotted #000;
    font-size: 1.3em;
    overflow: visible;
    transition: all 0.45s ease-out;
    white-space: initial;
}

.authorStihTitle a:hover {
    border-bottom: 2px solid #000;
}

.authorStihTitle a.expanded {
    color: #c6c4c4;
    border-bottom-color: #c6c4c4;
}

.authorStihTitle p {
    display: inline
}

.authorVibes .tag {
    font-size: 16px;
    line-height: 32px;
    min-height: 30px;
    padding: 0 14px 0 14px;
    margin: 6px;
}

.authorVibes {
    margin-top: 15px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid #c6c4c4;
}