.authorStihList {
    padding-top: 30px;
    padding-left: 10px;
}

.authorStihTitle {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.authorStihTitle a {
    font-family: Arsenal;
    color: #000;
    text-decoration: none;
    border-bottom: 2px dotted #000;
    font-size: 1.3em;
    overflow: hidden;
    transition: all 0.45s ease-out;
}

.authorStihTitle a:hover {
    border-bottom: 2px solid #000;
}

.authorStihTitle p {
    display: inline
}