.author {
  text-align: center;
  font-family: Cormorant;
}

.author p a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
}

.author p a:hover {
  color: #000;
  border-bottom: 1px solid #000000;
}


.authorImg {
  border-radius: 50%;
  width: 50px;
  padding-bottom: 5px;
}
