.FortunePage {
  min-height: 100vh;
  padding-bottom: 20vh;
}

.fortuneContent {
  padding-top: 30px;
}

.fortuneAuthor {
  text-align: center;
  font-family: Cormorant;
  font-size: 2.3em;
  margin-bottom: 40px;
}

.fortuneAuthor h1 {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 10px;
}

.fortuneAuthor h1 a {
  font-size: 1em;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
  font-weight: normal;
}

.fortuneAuthor h1 a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.fortuneAuthorImg {
  width: 200px;
  border-radius: 50%;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
  transition: opacity 0.2s ease;
}

.fortuneAuthorImg:hover {
  opacity: 0.8;
}

.fortuneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  opacity: 0;
  max-height: 30vh;
  min-height: 30vh;
  height: 30vh;
}

.fortuneContainer.fadeIn {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

.fortuneLineMain {
  font-family: NotoSerif, serif;
  font-size: 1.3em;
  line-height: 1.8;
  margin: 15px 0;
  padding: 0 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.fortuneLineNeighbor {
  font-family: NotoSerif, serif;
  font-size: 0.85em;
  line-height: 1.4;
  color: #d3d3d3;
  margin: 3px 0;
  padding: 0 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.fortuneAgainButton {
  background-color: #f6f6f6;
  border: 1px solid #c6c4c4;
  border-radius: 30px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 38px;
  padding: 0 25px 0 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  min-height: 38px;
  transition: all 0.2s ease;
  font-family: 'Roboto';
  font-weight: 300;
}

.fortuneAgainButton:hover {
    background-color: #f6f6f6;
    text-decoration: none;
    border: 1px solid #8b5cf6;
    color: #000000;
    opacity: 1;
}

.fortuneAgainButton:focus {
  outline: 0;
}

.fortuneAgainButtonContainer {
  text-align: center;
  margin-top: 30px;
}